<footer>

        <p>Conecte-se comigo:</p>
        <a href="https://www.linkedin.com/in/esperan%C3%A7a-pinoca-7473a5264/" target="_blank">
            <i class="fab fa-linkedin"></i> LinkedIn
        </a>
        <a href="https://github.com/esperancapinoca" target="_blank">
            <i class="fab fa-github"></i> GitHub
        </a>
        <a href="https://www.instagram.com/esperancapinoca" target="_blank">
            <i class="fab fa-instagram"></i> Instagram
        </a>
    <p>© 2026 Esperança Pinoca</p>

</footer>